In [50]:
import os
import math
import pandas as pd

all_files = os.listdir('archive')
df = pd.read_csv(f"archive/{all_files[0]}")

for file in all_files[1:]:
    df_pom = pd.read_csv(f"archive/{file}")
    df = pd.concat([df, df_pom], ignore_index=True)
# for index, row in df.iterrows():
#     if str(row['Order ID']) == 'Order ID' or math.isnan(float(row['Order ID'])):
#         df.drop(df.index[index], inplace=True)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [52]:
# zadanie 1
days = set([str(data).split(" ")[0] for data in df['Order Date'] if data != 'NaN'])
total_amount = {day: 0 for day in days}
for index, row in df.iterrows():
    if str(row['Order ID']) != 'Order ID' and not math.isnan(float(row['Quantity Ordered'])):
        total_amount[str(row['Order Date']).split(" ")[0]] += int(row['Quantity Ordered']) * float(row['Price Each'])

total_amount_result = pd.DataFrame({"Day": total_amount.keys(), "Total price sum": total_amount.values()})
total_amount_result

          Day  Total price
0    01/07/19     53676.42
1    11/01/19    107058.90
2    10/16/19    114107.87
3    04/01/19    112697.76
4    09/12/19     74776.11
..        ...          ...
363  11/23/19    102594.45
364  02/02/19     77893.74
365  08/20/19     74967.59
366  12/11/19    146367.03
367  02/26/19     80006.81

[368 rows x 2 columns]

In [75]:
# zadanie 2
# {produkt: [ilość, suma, kwartal_1, kwartal_2, kwartal_3, kwartal_4]}
products = {product: [0, 0, 0, 0, 0, 0] for product in df['Product']}
for index, row in df.iterrows():
    if str(row['Order ID']) != 'Order ID' and not math.isnan(float(row['Quantity Ordered'])):
        # ilość sprzedanych
        products[row['Product']][0] += 1
        # suma
        products[row['Product']][1] += int(row['Quantity Ordered']) * float(row['Price Each'])
        #wybór kwartału
        products[row['Product']][int(int(str(df['Order Date'][index]).split(" ")[0].split("/")[0]) / 4) + 2] += 1

top_3_products = sorted(products, key=products.get, reverse=True)[:3]
top_3_result = pd.DataFrame({"top products": top_3_products, "Total sales": [products[product][0] for product in top_3_products]
, "Total price sum": [products[product][1] for product in top_3_products], "quarter 1": [products[product][2] for product in top_3_products], "quarter 2": [products[product][3] for product in top_3_products], "quarter 3": [products[product][4] for product in top_3_products], "quarter 4": [products[product][5] for product in top_3_products]})

# show results
top_3_result

,top products,Total sales,Total price sum,quarter 1,quarter 2,quarter 3,quarter 4
0,USB-C Charging Cable,21903,286501.25,4458,7163,7302,2980
1,Lightning Charging Cable,21658,347094.15,4219,7392,7154,2893
2,AAA Batteries (4-pack),20641,92740.83,4052,6893,6865,2831

In [108]:
# zadanie 3
states = {str(state).split(" ")[-2]: 0 for state in df['Purchase Address'] if not isinstance(state, float) and str(state) != 'Purchase Address'}
all_order = 0
for index, row in df.iterrows():
    if str(row['Purchase Address']) != 'Purchase Address' and not isinstance(row['Purchase Address'], float):
        states[row['Purchase Address'].split(" ")[-2]] += 1
        all_order += 1

top_5_states = sorted(states, key=states.get, reverse=True)[:5]
top_5_states_results = pd.DataFrame({"State": top_5_states, "Count": [states[state] for state in top_5_states], "part of all orders": [states[state] / all_order for state in top_5_states]})

top_5_states_results

  State  Count  part of all order
0    CA  74337           0.399769
1    NY  24876           0.133778
2    TX  24725           0.132966
3    MA  19934           0.107201
4    GA  14881           0.080027